@use "../../../scss/global.scss";

.modal-back-drop {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    filter: blur(5px);
    transition: opacity 0.3s ease-in-out;

    z-index: 11;
}

.sign-up-frame {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background-color: #2B2F33;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    .arrow{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 50px;
    }
    .logo{
        margin-top: 30px;
        width: 330px;
    }

    .combo-container{
        display: flex;
        flex-direction: column;
    }

    p{
        color: white;
        font-weight: 300;
        margin-left: 20px;
        margin-bottom: 0;
        align-self: flex-start;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        padding: 10px;
        height: 20px;
        width: 380px ;
        margin-top: 10px;
        border: none;
        background-color: #23272A;
    }
    
    button{
        width: 400px;
        height: 60px;
        border: none;
        font-size: 23px;
        color : white;
        background-color: #3A4CA8;
        margin-top: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

}
