@use "../../scss/global";

.chat-room-side-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
    background-color: global.$strong-bg-color;
}

.divier {
    width: 40px;
    height: 2px;
    background-color: global.$light-bg-color;
    margin-top: 10px;
    border-radius: 15px;
}

.main-button {
    //rounded violet button
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: global.$light-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: white;
        transition: 0.3s ease-in;
        border-radius: 15px;
    }

    

    img {
        width: 30px;
    }
}

.chat-room-list {
    .chat-room {
        //circle button
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: none;
        background-color: global.$light-bg-color;
        margin: 10px 0;
        transition: 0.3s ease-in;

        //hover effect transition rounded button
        &:hover {
            background-color: white;
            transition: 0.3s ease-in;
            border-radius: 15px;
        }
    }
}

.clicked{
    background-color: white  !important;
    border-radius: 15px  !important;
    transition: 0.3s ease-in;
}