@use '../../scss/global';


.logo{
    margin: 0;
    font-size: 12px;
    color:global.$font-color;
    font-weight: bold;
}

.test{
    height: 22px;
    width: 100%;
    background-color: global.$strong-bg-color;
}